In [1]:
import numpy as np
b=np.random.randint(20,80,(8,9))
b

array([[49, 70, 35, 48, 53, 65, 44, 25, 44],
       [67, 48, 46, 50, 46, 58, 61, 29, 77],
       [49, 43, 23, 41, 71, 79, 56, 21, 76],
       [71, 60, 53, 65, 66, 75, 46, 37, 29],
       [21, 50, 75, 22, 22, 39, 74, 74, 42],
       [33, 31, 42, 74, 41, 33, 62, 35, 53],
       [26, 60, 36, 79, 39, 69, 27, 65, 48],
       [55, 37, 75, 35, 59, 21, 49, 28, 34]])

In [2]:
import pandas as pd

In [3]:
k=[[4,7],[2,9],[7,3],[90,50]]
k

[[4, 7], [2, 9], [7, 3], [90, 50]]

In [4]:
t = np.array(k)

In [5]:
t.ndim

2

In [6]:
pd.Series(k)

0      [4, 7]
1      [2, 9]
2      [7, 3]
3    [90, 50]
dtype: object

In [7]:
pd.DataFrame(t)

    0   1
0   4   7
1   2   9
2   7   3
3  90  50

In [8]:
Df = pd.DataFrame(t,columns=["name","sub"],index=[289,290,291,292])
Df

     name  sub
289     4    7
290     2    9
291     7    3
292    90   50

In [9]:

Df.columns

Index(['name', 'sub'], dtype='object')

In [10]:

Df.index

Index([289, 290, 291, 292], dtype='int64')

In [11]:

Df["sub"].mean()

17.25

In [12]:
Df["sub"].median()

8.0

In [13]:
Df["sub"].mode()

0     3
1     7
2     9
3    50
Name: sub, dtype: int32

In [14]:

Df["sub"].var()

482.9166666666667

In [15]:
Df["sub"].std()

21.975364995072702

In [16]:

Df["sub"].min()

3

In [17]:
Df["sub"].max()

50

In [18]:
Df["sub"].quantile(0.75)

19.25